<!DOCTYPE html>
<html>
<head>
	<title>相阁</title>
	<link href="../../public/css/index.css" rel="stylesheet" type="text/css" />
	<link href="../../public/css/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="top-nav">
		<div class="nav-head-img">
			<img src="../../public/images/head_img.jpg" title="aaa">
		</div>
		<div class="nav-list">
			<div class="nav-fluid">
				<dl class="fl">
					<dt><a href="#">PHP</a></dt>
					<dd>
						<ul>
							<li>PHP</li>
							<li>Mysql</li>
							<li>服务器</li>
							<li>随笔</li>
							<li>书籍</li>
							<li>个人简介</li>
						</ul>
					</dd>
				</dl>
				<dl class="fl">
					<dt><a href="#">Mysql</a></dt>
					<dd>
						<ul>
							<li>PHP</li>
							<li>Mysql</li>
							<li>服务器</li>
							<li>随笔</li>
							<li>书籍</li>
							<li>个人简介</li>
						</ul>
					</dd>
				</dl>

				<dl class="fl">
					<dt><a href="#">服务器</a></dt>
					<dd>
						<ul>
							<li>PHP</li>
							<li>Mysql</li>
							<li>服务器</li>
							<li>随笔</li>
							<li>书籍</li>
							<li>个人简介</li>
						</ul>
					</dd>
				</dl>

				<dl class="fl">
					<dt><a href="#">随笔</a></dt>
					<dd>
						<ul>
							<li>PHP</li>
							<li>Mysql</li>
							<li>服务器</li>
							<li>随笔</li>
							<li>书籍</li>
							<li>个人简介</li>
						</ul>
					</dd>
				</dl>

				<dl class="fl">
					<dt><a href="#">书籍</a></dt>
					<dd>
						<ul>
							<li>PHP</li>
							<li>Mysql</li>
							<li>服务器</li>
							<li>随笔</li>
							<li>书籍</li>
							<li>个人简介</li>
						</ul>
					</dd>
				</dl>

				<dl class="fl">
					<dt><a href="#">个人简介</a></dt>
					<dd>
						<ul>
							<li>PHP</li>
							<li>Mysql</li>
							<li>服务器</li>
							<li>随笔</li>
							<li>书籍</li>
							<li>个人简介</li>
						</ul>
					</dd>
				</dl>
			</div>
			
		</div>
	</div>
	<div id="center">
		<div class="news-list">
			<h1>
				<a href="#">细说PHP之路</a>
			</h1>
			<div class="something">
				<div class="fr">
					
				</div>
			</div>
			<div class="remark">
				<p>同学又要蠢蠢欲动来吐槽其性能了。其实，经过几个版本的更新换代，</p>
				<p>现在的稳定版 EntityFramework 6 已经相当好用了，nuget 上截止到目前 “8,830,918 total downloads” </p>已经足够能说明问题了，
				<p>EntityFramework 在整个 .net 世界是相当受欢迎的。不过，不管哪个技术平台，能</p>
				<p>不能用好一个技术与技术水平有很大的关</p>
			</div>
			<div class="more">
				<a href="article.html#center">阅读全部</a>
			</div>
		</div>
		<div class="news-list">
			<h1>
				<a href="#">细说PHP之路</a>
			</h1>
			<div class="something">
				<div class="fr">
					
				</div>
			</div>
			<div class="remark">
				<p>同学又要蠢蠢欲动来吐槽其性能了。</p>
				<p>其实，经过几个版本的更新换代，现在的稳定版 EntityFramework 6 已经相当好用了，nuget 上截止到目前 “8,830,918 total downloads” 已经足够能说明问题了，</p>
				<p>EntityFramework 在整个 .net 世界是相当受欢迎的。</p>
				<p>不过，不管哪个技术平台，</p>
				<p>能不能用好一个技术与技术水平有很大的关</p>
			</div>
			<div class="more">
				<a href="#">阅读全部</a>
			</div>
		</div>
		<div class="news-list">
			<h1>
				<a href="#">细说PHP之路</a>
			</h1>
			<div class="something">
				<div class="fr">
					
				</div>
			</div>
			<div class="remark">
				<p>同学又要蠢蠢欲动来吐槽其性能了。</p>
				<p>其实，经过几个版本的更新换代，现在的稳定版 EntityFramework 6 已经相当好用了，nuget 上截止到目前 “8,830,918 total downloads” 已经足够能说明问题了，</p>
				<p>EntityFramework 在整个 .net 世界是相当受欢迎的。</p>
				<p>不过，不管哪个技术平台，</p>
				<p>能不能用好一个技术与技术水平有很大的关</p>
			</div>
			<div class="more">
				<a href="#">阅读全部</a>
			</div>
		</div>
		<div class="news-list">
			<h1>
				<a href="#">细说PHP之路</a>
			</h1>
			<div class="something">
				<div class="fr">
					
				</div>
			</div>
			<div class="remark">
				<p>同学又要蠢蠢欲动来吐槽其性能了。</p>
				<p>其实，经过几个版本的更新换代，现在的稳定版 EntityFramework 6 已经相当好用了，nuget 上截止到目前 “8,830,918 total downloads” 已经足够能说明问题了，</p>
				<p>EntityFramework 在整个 .net 世界是相当受欢迎的。</p>
				<p>不过，不管哪个技术平台，</p>
				<p>能不能用好一个技术与技术水平有很大的关</p>
			</div>
			<div class="more">
				<a href="#">阅读全部</a>
			</div>
		</div>
		<div class="news-list">
			<h1>
				<a href="#">细说PHP之路</a>
			</h1>
			<div class="something">
				<div class="fr">
					
				</div>
			</div>
			<div class="remark">
				<p>同学又要蠢蠢欲动来吐槽其性能了。</p>
				<p>其实，经过几个版本的更新换代，现在的稳定版 EntityFramework 6 已经相当好用了，nuget 上截止到目前 “8,830,918 total downloads” 已经足够能说明问题了，</p>
				<p>EntityFramework 在整个 .net 世界是相当受欢迎的。</p>
				<p>不过，不管哪个技术平台，</p>
				<p>能不能用好一个技术与技术水平有很大的关</p>
			</div>
			<div class="more">
				<a href="#">阅读全部</a>
			</div>
		</div>
		<div class="news-list">
			<h1>
				<a href="#">细说PHP之路</a>
			</h1>
			<div class="something">
				<div class="fr">
					
				</div>
			</div>
			<div class="remark">
				<p>同学又要蠢蠢欲动来吐槽其性能了。</p>
				<p>其实，经过几个版本的更新换代，现在的稳定版 EntityFramework 6 已经相当好用了，nuget 上截止到目前 “8,830,918 total downloads” 已经足够能说明问题了，</p>
				<p>EntityFramework 在整个 .net 世界是相当受欢迎的。</p>
				<p>不过，不管哪个技术平台，</p>
				<p>能不能用好一个技术与技术水平有很大的关</p>
			</div>
			<div class="more">
				<a href="#">阅读全部</a>
			</div>
		</div>

		<div class="list-more">
			
		</div>
	</div>
</body>
</html>